<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meri.golinomedicen">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <!--
        Note: If your app uses the WRITE_EXTERNAL_STORAGE permission,
        then it implicitly has permission to read the external storage as well.
    -->
    <!-- for write and read photo from external storage -->
    <!--
        Beginning with Android 4.4 (API level 19), reading or writing files in your app's private external storage directory—accessed
        using getExternalFilesDir()—does not require the READ_EXTERNAL_STORAGE or WRITE_EXTERNAL_STORAGE permissions.
        So if your app supports Android 4.3 (API level 18) and lower, and you want to access only the private external storage directory,
        you should declare that the permission be requested only on the lower versions of Android by adding the maxSdkVersion attribute.
    -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" /> <!-- for take picture -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.meri.golinomedicen.application.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.example.meri.golinomedicen.ui.activities.signUp.FavAdress"
            android:theme="@style/Theme.Transparent1"
            android:hardwareAccelerated="true"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.meri.golinomedicen"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name="com.example.meri.golinomedicen.receivers.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.example.meri.golinomedicen.ui.activities.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.meri.golinomedicen.ui.activities.login.LoginActivity"
            />
        <activity android:name="com.example.meri.golinomedicen.ui.activities.signUp.SignUpActivity" />
        <activity android:name="com.example.meri.golinomedicen.ui.activities.MainActivity" />
        <activity
            android:name="com.example.meri.golinomedicen.ui.activities.sendMedicine.SendMedicineActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zarinpalpayment"
                    android:scheme="return" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.meri.golinomedicen.ui.activities.maps.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name="com.example.meri.golinomedicen.ui.activities.history.HistoryActivity" />
        <activity android:name="com.example.meri.golinomedicen.ui.activities.maps.GetLocationActivity" />
    </application>

</manifest>